In [7]:
# Import dependencies
import pandas as pd
import gmaps
import requests

from config import g_key

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
0,0,Upernavik,GL,2022-07-28 19:31:08,72.7868,-56.1549,43.05,69,100,5.75,overcast clouds,0,0
1,1,Mataura,NZ,2022-07-28 19:26:41,-46.1927,168.8643,47.48,97,100,4.27,overcast clouds,0,0
2,2,New Norfolk,AU,2022-07-28 19:31:09,-42.7826,147.0587,40.71,85,7,4.23,clear sky,0,0
3,3,Ushuaia,AR,2022-07-28 19:31:10,-54.8000,-68.3000,46.06,53,75,17.27,broken clouds,0,0
4,4,Cabo San Lucas,MX,2022-07-28 19:30:53,22.8909,-109.9124,93.61,48,20,10.36,few clouds,0,0

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your minimum temperature preference? "))
max_temp = float(input("What is your maximum temperature preference? "))

What is your minimum temperature preference? 78
What is your maximum temperature preference? 90

In [10]:
# 3. Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
5,5,Rosarito,MX,2022-07-28 19:27:55,32.3333,-117.0333,85.41,67,42,9.73,scattered clouds,0,0
7,7,Kapaa,US,2022-07-28 19:31:16,22.0752,-159.3190,80.58,75,100,10.36,light rain,0,0
10,10,Buala,SB,2022-07-28 19:31:22,-8.1450,159.5921,79.93,81,60,8.81,light rain,0,0
16,16,Jamestown,US,2022-07-28 19:31:27,42.0970,-79.2353,82.06,43,20,16.11,few clouds,0,0
26,26,Hithadhoo,MV,2022-07-28 19:31:37,-0.6000,73.0833,82.18,74,100,11.72,overcast clouds,0,0
33,33,Butaritari,KI,2022-07-28 19:31:39,3.0707,172.7902,81.93,72,41,15.32,scattered clouds,0,0
34,34,Arraial Do Cabo,BR,2022-07-28 19:31:40,-22.9661,-42.0278,84.16,57,0,13.80,clear sky,0,0
37,37,Tiarei,PF,2022-07-28 19:31:41,-17.5333,-149.3333,80.62,77,14,25.46,light rain,0,0
41,41,Kalmunai,LK,2022-07-28 19:31:43,7.4167,81.8167,79.02,83,100,3.74,heavy intensity rain,0,0
46,46,Cayhagan,PH,2022-07-28 19:31:45,9.6697,122.4256,79.56,85,93,8.19,overcast clouds,0,0

In [11]:
# 4a. Determine if there are any empty rows.
#preferred_cities_df.notnull().sum()
# 4a. Determine if there are any empty rows.
print(len(preferred_cities_df))
preferred_cities_df.count()

183

City_ID                     183
City                        183
Country                     183
Date                        183
Lat                         183
Lng                         183
Max Temp                    183
Humidity                    183
Cloudiness                  183
Wind Speed                  183
Current Description         183
Rain inches (last 3 hrs)    183
Snow inches (last 3 hrs)    183
dtype: int64

In [12]:
#4b.Drop them if any: there are no any
clean_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

183

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs)
5,5,Rosarito,MX,2022-07-28 19:27:55,32.3333,-117.0333,85.41,67,42,9.73,scattered clouds,0,0
7,7,Kapaa,US,2022-07-28 19:31:16,22.0752,-159.3190,80.58,75,100,10.36,light rain,0,0
10,10,Buala,SB,2022-07-28 19:31:22,-8.1450,159.5921,79.93,81,60,8.81,light rain,0,0
16,16,Jamestown,US,2022-07-28 19:31:27,42.0970,-79.2353,82.06,43,20,16.11,few clouds,0,0
26,26,Hithadhoo,MV,2022-07-28 19:31:37,-0.6000,73.0833,82.18,74,100,11.72,overcast clouds,0,0

In [13]:
# Create a DataFrame called hotel_df to store hotel names along with 
# city, country, max temp, current weather description, latitude, longitude 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Rosarito,MX,85.41,scattered clouds,32.3333,-117.0333,
7,Kapaa,US,80.58,light rain,22.0752,-159.3190,
10,Buala,SB,79.93,light rain,-8.1450,159.5921,
16,Jamestown,US,82.06,few clouds,42.0970,-79.2353,
26,Hithadhoo,MV,82.18,overcast clouds,-0.6000,73.0833,
33,Butaritari,KI,81.93,scattered clouds,3.0707,172.7902,
34,Arraial Do Cabo,BR,84.16,clear sky,-22.9661,-42.0278,
37,Tiarei,PF,80.62,light rain,-17.5333,-149.3333,
41,Kalmunai,LK,79.02,heavy intensity rain,7.4167,81.8167,
46,Cayhagan,PH,79.56,overcast clouds,9.6697,122.4256,

In [14]:
# Set the parameters for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterature through the Hotel DataFrame
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store it
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [20]:
#new_hotel_df = hotel_df.dropna()
#new_hotel_df.head(10)
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Rosarito,MX,85.41,scattered clouds,32.3333,-117.0333,Hotel Festival Plaza Rosarito
7,Kapaa,US,80.58,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Buala,SB,79.93,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
16,Jamestown,US,82.06,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
26,Hithadhoo,MV,82.18,overcast clouds,-0.6000,73.0833,Scoop Guest House
33,Butaritari,KI,81.93,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
34,Arraial Do Cabo,BR,84.16,clear sky,-22.9661,-42.0278,Pousada Porto Praia
37,Tiarei,PF,80.62,light rain,-17.5333,-149.3333,Le Rocher de Tahiti
41,Kalmunai,LK,79.02,heavy intensity rain,7.4167,81.8167,VS Villa
46,Cayhagan,PH,79.56,overcast clouds,9.6697,122.4256,Melrose Beach Resort

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))